.mySlides {
  display: none;
  animation: fade 1.2s ease-in-out;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  filter: brightness(0.55);
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

@keyframes fade {
  from { opacity: 0.8; }
  to { opacity: 1; }
}
@keyframes panBackground {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}


@media (max-width: 768px) {
  .mySlides {
    height: 550px;
    background-position: center;
    animation: panBackground 20s linear infinite alternate, fade 0.75s ease-in-out;
  }
  }
