<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/header.css">
   <!-- Instead of adding this aspect to every index file i'll use js to include it to all the pages and just link it as such.-->
</head>
<body>
  <header> 
    <nav>
      <a href="/about-us.html"   class="element">About Us</a>
      <a href="/leadership.html"   class="element">Leadership</a>
      <a href="/departments/index.html"   class="element">Departments</a>
      <a href="/">
        <img id="h-logo"
        src="../assets-and-images/logo.png" >
      </a>
      <a href="/calendar.html"   class="element">Events</a>
      <a href="/new-here.html"   class="element">New Here?</a>
      <a href="/contact-us.html"   class="element">Contact Us</a>
    </nav>
  </header>
</body>
</html>