<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Instead of adding this aspect to every index file i'll use js to include it to all the pages and just link it as such -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
  <footer>
    <div class="f-left">
      <div style="
        width: 125px;">
        <img class="temporary-logo" src="../assets-and-images/logo.png">
      </div>
      <div>
        The Gospel Tabernacle Church of Jesus Christ Apostolic HQ
      </div>
      <div style="font-size: 10px;">
        The Gospel Tabernacle Church of Jesus Christ (Apostolic) Inc 
        <br> <!--Basically a New Line-->
        <span>All Rights Reserved</span>
      </div>
      <div class="socials" style="
        display: block;
        height: 37.5px;
        width: 125px;
        ">
        <a href="https://www.facebook.com/gospeltabernacle.brooklyn" target="_blank">
            <img class="scpic" src="../assets-and-images/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/gtchq/" target="_blank">
            <img class="scpic" src="../assets-and-images/instagram.png" alt="Instagram">
        </a>
        <a href="https://www.youtube.com/@gtchq623" target="_blank">
            <img class="scpic" src="../assets-and-images/youtube.png" alt="YouTube">
        </a>
      </div>
    </div>
    <div class="f-middle"></div>
    <div class="f-right"></div>
    </div>
  </footer>
</body>
</html>